<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <img class="spaceman" src="assets/img/spaceman.svg" alt="Hombre en el espacio">
    </div>
    <div class="col-12">
      <h1 class="errorTitle">404</h1>
      <h2 class="errorDesc">La página que busca no se encontró</h2>
      <button mat-stroked-button color="primary" type="button" (click)="backToHome()">
        <span class="material-icons">home</span>
        Página principal
      </button>
    </div>
  </div>
</div>
